@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to GenSearch!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="d-flex w-100">
    <div id="searchBox"></div>
    <div id="searchIcon"></div>
    <div id="responseList"></div>
</div>